<div class="container-fluid">
  <table class="table table-hover table-dark mt-5">
    <thead class="h4">
    <tr>
      <th class="text-center">№</th>
      <th class="text-center" style="cursor: pointer" (click)="sort(parameters[0])">Название задачи</th>
      <th class="text-center" style="cursor: pointer" (click)="sort(parameters[1])">Дата создания</th>
      <th class="text-center" style="cursor: pointer" >Описание</th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngIf="tasks.length>0; then table else void_table;">
    </tbody>
    <ng-template #table>
      <tr *ngFor="let task of tasks;let i = index" class="text-center ">
        <td class="h6">{{i + 1}}</td>
        <td class="h6">{{task.taskName}}</td>
        <td class="h6">{{task.dateOfCreation | date}}</td>
        <td class="h6">{{task.description}}</td>
        <td>
          <button class="btn btn-primary"
                  [routerLink]="['/tasks',btoa(task.idTask.toString()),task.taskName]">Подробнее
          </button>
        </td>
      </tr>
    </ng-template>
  </table>

  <div class="row">
    <div class="col-xs-12 col-12">
      <pagination [boundaryLinks]="true" [totalItems]="countOfPages" class="justify-content-center"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
  <ng-template #void_table>
    <tr>
      <td colspan="6" class="h3">Нет созданных задач.</td>
    </tr>
  </ng-template>
</div>
